.search-suggestions{
    background-color: #ECECEC;
    display: flex;
    flex-direction: row;
    justify-content:baseline;
    align-items:center;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
.title{
    padding-top:0.5rem;
    margin-left: 14rem;
    margin-right: 1rem;
    font-size: 18px;
    color: #62646A;
    font-weight: bold;
    text-align: center;
}

a{
    color: #62646A;
    background-color: white;
    margin: 15px 10px 15px 0px;
    padding: 7.5px;
    border-radius: 4px;
    border: 1px solid lightgray;
    /*box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;*/
}

a:hover{
    cursor: pointer;
    background-color: lightgray;
    border: 1px solid lightslategray;
}