<mat-toolbar id="nav-bar" class="nav-bar top">
    <mat-toolbar-row >
        <span> 
            <a [routerLink]="''"> 
                <img id="light-logo" src="../../assets/Light-Logo.png" alt="Light-Logo" height="100">
            </a>
        </span> 
        <span>
            <a [routerLink]="''">
                <img id="dark-logo" src="../../assets/Dark-Logo.png" alt="Dark-Logo" height="100" class="hide-logo">
            </a>
        </span>
        <form id="search-bar-container" class="search-container hidden">
            <input
                type="text"
                id="search-bar"
                name="search"
                [(ngModel)]='search'
                placeholder="What career are you looking for today?"
            />
            <button type="button" class="btn btn-primary light-tan" [routerLink]="['/search', search]">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>
        <!--<span> <mat-icon>attach_money</mat-icon>USD </span> -->
        <div class="not-mobile">
            <span class="right-nav link" [routerLink]="'/mentor-sign-up'" *ngIf="!isAuthenticated && display"> Become a Mentor </span>
            <span class="right-nav link" (click)="openSignIn()" *ngIf="!isAuthenticated  && display">  Sign In   </span>
            <span class="right-nav"> <button mat-flat-button class="light-tan" (click)="openSignUp()" *ngIf="!isAuthenticated  && display"> Join </button>  </span>
            <div *ngIf="isAuthenticated  && display">
                <img [matMenuTriggerFor]="menu" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="rounded-circle" width="50" height="50">
                <mat-menu #menu="matMenu">
                    <p class="menu-username">{{username}}</p>
                    <mat-divider></mat-divider>
                    <button mat-menu-item [routerLink]="['/profile']">Profile</button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item (click)="signOut()">Sign Out</button>
                </mat-menu>
            </div>
        </div>
        <div class="mobile">
            <mat-icon class="menu" (click)="showMenu()">menu</mat-icon>
        </div>
    </mat-toolbar-row>
    <div id='nav-ul' class="nav-ul nav-ul-hide">
            <span class="right-nav link" [routerLink]="'/mentor-sign-up'" *ngIf="!isAuthenticated && display"> Become a Mentor </span>
            <span class="right-nav link" (click)="openSignIn()" *ngIf="!isAuthenticated  && display">  Sign In   </span>
            <span class="right-nav link tan"  (click)="openSignUp()" *ngIf="!isAuthenticated  && display">  Join   </span>
            <span class="right-nav link" [routerLink]="['/profile']" *ngIf="isAuthenticated  && display">  Profile  </span>
            <span class="right-nav link tan"  (click)="signOut()" *ngIf="isAuthenticated  && display">  Sign Out   </span>
    </div>
    <mat-toolbar-row id="sub-nav-bar" class="sub-nav-bar hide-sub-nav-bar">
        <div id="nav-bar-items" class="nav-bar-items">
            <span class="sub-nav link" [routerLink]="['/search', 'food']"> Food </span>
            <span class="sub-nav"> | </span>
            <span class="sub-nav link" [routerLink]="['/search', 'construction']"> Construction </span>
            <span class="sub-nav"> | </span>
            <span class="sub-nav link" [routerLink]="['/search', 'arts']"> Arts </span>
            <span class="sub-nav"> | </span>
            <span class="sub-nav link" [routerLink]="['/search', 'business']"> Business </span>
            <span class="sub-nav"> | </span>
            <span class="sub-nav link" [routerLink]="['/search', 'education']"> Education </span>
            <span class="sub-nav"> | </span>
            <span class="sub-nav link" [routerLink]="['/search', 'government']"> Government</span>
            <span class="sub-nav"> | </span>
            <span class="sub-nav link" [routerLink]="['/search', 'health-science']"> Health Science</span>
            <span class="sub-nav"> | </span>
            <span class="sub-nav link" [routerLink]="['/search', 'technology']"> Technology </span>
            <span class="sub-nav"> | </span>
            <span class="sub-nav link" [routerLink]="['/search', 'public-safety']"> Public Safety </span>
            <span class="sub-nav"> | </span>
            <span class="sub-nav link" [routerLink]="['/search', 'marketing']"> Marketing </span>
            <span class="sub-nav"> | </span>
            <span class="sub-nav link" [routerLink]="['/search', 'technology']"> Technology </span>
            <span class="sub-nav"> | </span>
            <span class="sub-nav link" [routerLink]="['/search', 'engineering']"> Engineering </span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>