<div class="bottom-navigation">
    <div class="max-width">
        <div class="section">
            <h3>Careers</h3>
            <a href="" class="content" [routerLink]="['/search', 'agriculture-food-natural-resources']">Agriculture, Food, and Natural Resources</a>
            <a href="" class="content" [routerLink]="['/search', 'architecture-construction']">Architecture and Construction</a>
            <a href="" class="content" [routerLink]="['/search', 'arts-audio-video-technology-communication']">Arts, Audio/Video, Technology, and Communication</a>
            <a href="" class="content" [routerLink]="['/search', 'business-finance']">Business and Finance</a>
            <a href="" class="content" [routerLink]="['/search', 'education-training']">Education and Training</a>
            <a href="" class="content" [routerLink]="['/search', 'government-public-administration']">Government and Public Administration</a>
            <a href="" class="content" [routerLink]="['/search', 'health-science']">Health Science</a>
            <a href="" class="content" [routerLink]="['/search', 'information-technology']">Information Technology</a>
            <a href="" class="content" [routerLink]="['/search', 'law-public-safety-corrections-security']">Law, Public Safety, Corrections, and Security</a>
            <a href="" class="content" [routerLink]="['/search', 'marketing']">Marketing</a>
            <a href="" class="content" [routerLink]="['/search', 'science-technology-engineering-math']">Science, Technology, Engineering, and Math</a>
        </div>
        <div class="section">
            <h3 class="header">About</h3>
            <a href="" class="content">Careers</a>
            <a href="" class="content">Press & News</a>
            <a href="" class="content">Partnerships</a>
            <a href="" class="content">Privacy Policy</a>
            <a href="" class="content">Terms of Service</a>
            <a href="" class="content">Intellectual Property Claims</a>
            <a href="" class="content">Investor Relations</a>
        </div>
        <div class="section">
            <h3 class="header">Support</h3>
            <a href="" class="content">Help & Support</a>
            <a href="" class="content">Trust & Safety</a>
            <a href="" class="content">Becoming a Mentor</a>
            <a href="" class="content">Finding a Mentor</a>
        </div>
        <div class="section">
            <h3 class="header">Community</h3>
            <a href="" class="content">Events</a>
            <a href="" class="content">Blog</a>
            <a href="" class="content">Forum</a>
            <a href="" class="content">Community Standards</a>
            <a href="" class="content">Podcast</a>
            <a href="" class="content">Affiliates</a>
            <a href="" class="content">Invite a Friend</a>
            <a href="" class="content">Become a Mentor</a>
        </div>
    </div>
</div>
