<div class="max-width">
    <div class="set-width">
        <div class="explore-careers">
            <h1>Explore Careers</h1>
            <div class="career-cards">
                <div class="career-card" [routerLink]="['/search', 'agriculture-food-natural-resources']">
                    <img src="../../assets/svgs/food.svg" alt="food">
                    <hr>
                    <h5>Agriculture, Food, and Natural Resources</h5>
                </div>
                <div class="career-card" [routerLink]="['/search', 'architecture-construction']">
                    <img src="../../assets/svgs/construction.svg" alt="construction">
                    <hr>
                    <h5>Architecture and Construction</h5>
                </div>
                <div class="career-card" [routerLink]="['/search', 'art-audio-video-communication']">
                    <img src="../../assets/svgs/design.svg" alt="design">
                    <hr>
                    <h5>Arts, Audio/Video Technology, and Communication</h5>
                </div>
                <div class="career-card" [routerLink]="['/search', 'business-finance']">
                    <img src="../../assets/svgs/business.svg" alt="business">
                    <hr>
                    <h5>Business and Finance</h5>
                </div>
                <div class="career-card" [routerLink]="['/search', 'education-training']">
                    <img src="../../assets/svgs/education.svg" alt="education">
                    <hr>
                    <h5>Education and Training</h5>
                </div>
                <div class="career-card" [routerLink]="['/search', 'government-public-administration']">
                    <img src="../../assets/svgs/government.svg" alt="government">
                    <hr>
                    <h5>Government and Public Administration</h5>
                </div>
            </div>
            <div class="career-cards">
                <div class="career-card" [routerLink]="['/search', 'health-science']">
                    <img src="../../assets/svgs/health.svg" alt="health">
                    <hr>
                    <h5>Health Science</h5>
                </div>
                <div class="career-card" [routerLink]="['/search', 'information-technology']">
                    <img src="../../assets/svgs/technology.svg" alt="technology">
                    <hr>
                    <h5>Information Technology</h5>
                </div>
                <div class="career-card" [routerLink]="['/search', 'law-public-safety-corrections-security']">
                    <img src="../../assets/svgs/law.svg" alt="law">
                    <hr>
                    <h5>Law, Public Safety, Corrections, and Security</h5>
                </div>
                <div class="career-card" [routerLink]="['/search', 'marketing']">
                    <img src="../../assets/svgs/marketing.svg" alt="marketing">
                    <hr>
                    <h5>Marketing</h5>
                </div>
                <div class="career-card" [routerLink]="['/search', 'science-technology-engineering-math']">
                    <img src="../../assets/svgs/science.svg" alt="science">
                    <hr>
                    <h5>Science, Technology, Engineering, and Math</h5>
                </div>
            </div>
            
        
    </div>
</div>
