
<div class="content">
    <div class="top">
        <div class="overlay">
            <h1 class="title">Work your way</h1>
            <h2 class="sub-title">You bring the skill. We'll make earning easy</h2>
            <button mat-button class="header-button"><a href="/mentor-sign-up#sign-up">Become a Mentor</a></button>
        </div>
    </div>
    <div class="community">
        <h1 class="community-title"> Join Our Growing Mentor Community </h1>
        <div class="members">
            <div class="row">
                <div class="card text-white">
                    <img class="card-img" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="Card image">
                    <div class="card-img-overlay">
                        <h1 class="card-title sub">I am </h1>
                        <h1 class="card-title"> a Developer</h1>
                    </div>
                  </div>
                  <div class="card bg-dark text-white" >
                    <img class="card-img" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp" alt="Card image">
                    <div class="card-img-overlay">
                        <h1 class="card-title sub">I am </h1>
                      <h1 class="card-title">a Designer </h1>
                    </div>
                  </div>
                  <div class="card bg-dark text-white" >
                    <img class="card-img" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(3).webp" alt="Card image">
                    <div class="card-img-overlay">
                        <h1 class="card-title sub">I am</h1>
                      <h1 class="card-title"> a Writer </h1>
                    </div>
                  </div>
                  <div class="card bg-dark text-white" >
                    <img class="card-img" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="Card image">
                    <div class="card-img-overlay">
                        <h1 class="card-title sub">I am</h1>
                      <h1 class="card-title"> a Video Editor</h1>
                    </div>
                  </div>
            </div>
            <div class="row">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(27).webp" alt="Card image">
                    <div class="card-img-overlay">
                        <h1 class="card-title sub">I am </h1>
                      <h1 class="card-title"> a Musician</h1>
                    </div>
                  </div>
                  <div class="card bg-dark text-white" >
                    <img class="card-img" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(6).webp" alt="Card image">
                    <div class="card-img-overlay">
                        <h1 class="card-title sub">I am</h1>
                      <h1 class="card-title"> a Voiceover Artist</h1>
                    </div>
                  </div>
                <div class="card bg-dark text-white">
                    <img class="card-img" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(7).webp" alt="Card image">
                    <div class="card-img-overlay">
                        <h1 class="card-title sub">I am</h1>
                      <h1 class="card-title"> a Marketer</h1>
                    </div>
                  </div>
                  <div class="card semi-grey text-white">
                    <div class="join">
                        <mat-icon class="red">favorite</mat-icon>
                        <h1 class="contributing">Interested in Contributing?</h1>
                        <button mat-button class="header-button"><a href="/mentor-sign-up#sign-up">Become a Mentor</a></button>
                    </div>
                        
                    
                  </div>
            </div>
        </div>
    </div>
    <div class="how-it-works-container">
        <div class="how-it-works">
            <h1 class="how-it-title">How It Works</h1>
            <div class="how-it-works-ad">
                <div class="section">
                    <img class="svg" src="../../assets/svgs/list.svg" alt="list">
                    <h1 class="section-title">1. Create a Gig</h1>
                    <p class="section-desc">Sign Up for free, set up your Gig, and offer your
                        work to our global audience.
                    </p>
                </div>
                <div class="section">
                    <img class="svg dumb" src="../../assets/svgs/email.svg" alt="mail">
                    <h1 class="section-title">2. Deliver Great Work</h1>
                    <p class="section-desc"> Get notified when you get an order and use our 
                        system to discuss details with customers.
                    </p>
    
                </div>
                <div class="section">
                    <img class="svg" src="../../assets/svgs/check.svg" alt="check">
                    <h1 class="section-title">3. Get Paid</h1>
                    <p class="section-desc"> Get paid on time, every time. Payment
                        is transferred to you upon order completion.
                    </p>
    
                </div>
            </div>
        </div>
    </div>
    <div id="sign-up" class="sign-up-page">
        <div class="sign-in-container">
            
            <h1 >Join WorkMentor</h1>
    <div class="form">
        <div class="form" *ngIf="!isConfirm">
            <mat-form-field appearance="fill">
                <mat-label>Enter your username</mat-label>
                <input matInput placeholder="Username" type="username" id="username" name="username" #username="ngModel" [(ngModel)]="user.userName" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="example@example.com" [formControl]="email" type="email" id="email" name="email" [(ngModel)]="user.email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" id="password" name="password" #password="ngModel" [(ngModel)]="user.password" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <a><button mat-button  class="light-tan" (click)="signUp()"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span> Sign Up</button> </a>
        </div>
        <div class="form" *ngIf="isConfirm">
            <div class="center-align">
                <p class="margin-left"> Please check your inbox for your sign up code to verify your account. </p>
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Enter verification code</mat-label>
                <input matInput type="text" id="code" name="code" #code="ngModel" [(ngModel)]="user.code">
            </mat-form-field>
            <a [routerLink]="'/profile'"><button mat-button  class="light-tan" (click)="confirmSignUp(); showToast()"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span> Continue</button> </a>
        </div>
    </div>
    <div class="additional">
        <div class="center-align">
            <p class="margin-left"> By joining I agree to the Terms and Conditions of WorkMentor </p>
        </div>
    </div>
        </div>
    </div>
</div>